[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosqlite = "*"
pipenv = "*"
install = "*"
aiogram = "==3.2.0"
numba = "*"

[dev-packages]

[requires]
python_version = "3.10"
